:root {
  --main-bg-color: #ffffff;
  --alt-bg-color: #cfd3d3;
  --main-text-color: #2E3841;
  --alt-text-color: #A64145;
  --h4-color: #005b97;
  --h3-color: #ffffff;
  --h2-color: #00538a;
  --h1-color: #ffffff;
}
html, body
{
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', helvetica, sans-serif;
    text-align: center;
    line-height: 1.3;
}
h1, h2, h3 {
    font-family: 'Roboto', helvetica, sans-serif;
    margin: 0;
}
h1 {
    font-size: 4.5rem;
    padding-top: 35vh;
    padding-bottom: 3vh;
    color: var(--h1-color);
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
    color: var(--h2-color);
}
h3 {
    font-size: 2rem;
    color: var(--h3-color);
}
h4 {
    font-size: 1rem;
    margin: 1em 1em 0.5em 1em;
    color: var(--h4-color);
    font-weight: bold;
}
td {
    vertical-align: top;
    padding: 0;
    width: 50%;
}
a {
    color: var(--main-h-color);
    text-decoration: none;
}
a:hover {
    color: var(--alt-text-color)
}
p {
    color: var(--main-text-color);
    margin: 1em;
}
div {
    background-color: var(--main-bg-color);
    margin: 0px;
    max-height: max-content;
/*    background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
img {
    margin: 1em;
}

.container {
    position: relative;
}
.icon {
    width: 1.3em;
    display: inline-block;
    margin: 0 1em 0 0;
    vertical-align: bottom;
}
/* text */

.text-footer {
    font-size: 0.8rem;
    color: var(--h4-color);
    max-width: 800px;
    margin: 1rem auto 1rem auto;
}

/* tables */

.img-cell {
    text-align: left;
    width: 35%;
}
.text-cell {
    text-align: left;
    width: 65%;
}
.exp-desc {
    text-align: left;
    width: 65%;
}
.exp-item {
    text-align: left;
    width: 35%;
}
.skill-cell {
    text-align: left;
    width: 25%;
    padding-right: 3em;
}
.star-cell {
    text-align: right;
    width: 25%;
    padding-left: 2em;
}
.content-table {
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1em;
}
/* stars */
.stars {
    font-size: 0.6rem;
    line-height: 1.31rem;
    margin: 1rem;
}


/* divs */

.head {
    background-image: url("../images/background-connection-contemporary-303383.jpg");
    min-height: 100%;
    /*background-color: var(--alt-bg-color);*/
}
.experience {
    background-color: var(--alt-bg-color);
}
.skills {
    background-color: var(--main-bg-color);
}
.foot {
    /*background-image: url("../images/programmer-1653351.svg"); */
    background-color: var(--alt-bg-color);
    min-height: fit-content;
}
